/* .root {
  padding: 24px 0 32px;
} */

.hero {
  margin-bottom: 40px;
}

.explore {
  padding: 40px 0;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  gap: 20px;
}
.header h3 {
  font-size: 1.5rem;
  color: var(--color-primary);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  margin: 18px 0;
}
.ctaBox {
  background: white;
  padding: 40px 0;
}

@media (max-width: 980px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 760px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
