.wrap {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  margin-top: 8px;
  margin-bottom: 14px;
}
.input {
  width: 18px;
  height: 18px;
  border-radius: 4px;
}
.label {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.95rem;
}
