.wrap {
  display: flex;
  gap: 10px;
  align-items: center;
}
.input {
  width: 18px;
  height: 18px;
  border-radius: 4px;
}
.label {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.95rem;
}

.label a {
  color: var(--color-secondary);
}
