.btn {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 14px;
  border-radius: 24px;
  border: 1px solid rgba(31, 35, 72, 0.06);
}
.icon {
  display: inline-flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-color: white;
  border-radius: 50%;
}
